<div id="property_detail_page_wrapper" class="wrapper">
    <div class="container column_container">
        <div class="property_detail_container column column_l_6 column_xl_6 column_xxl_6">
            <div class="property_detail_gallery_container gallery_container"><div class="property_detail_image_container gallery_image_container" style="background-image: url(image/product_detail_gallery_image_1.jpg)"></div><div class="property_detail_image_container gallery_image_container" style="background-image: url(image/product_detail_gallery_image_2.jpg)"></div><div class="property_detail_image_container gallery_image_container" style="background-image: url(image/product_detail_gallery_image_3.jpg)"></div></div>
            <div class="property_detail_content_container">
                <div class="property_detail_content_header_container">
                    <div class="property_detail_title_container"><h1>City West Office Park</h1></div>
                    <div class="property_detail_address">33 - 35 Saunders Street, Pyrmont, NSW 2009, Australia</div>
                    <div class="property_detail_filter_container"><div class="property_detail_filter_item property_detail_type">Commercial</div><div class="property_detail_filter_item property_detail_area">328 - 1,480 sqm</div><div class="property_detail_filter_item property_detail_fund">Fund: GAIP</div></div>
                    <div class="property_detail_link_container">
                        <div class="property_detail_view_lease general_style_button general_style_button_green">View space for lease+</div>
                        <div class="clear"></div>
                        <div class="property_detail_share">Share</div>
                        <div class="property_detail_more_spaces">More spaces available+</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="property_detail_content_body_container">
                    <p>Centrally located on Saunders Street in Pyrmont's restaurant and entertainment precinct,  City West Office Park offers high quality, modern office space with close proximity to a  range of amenities and public transport options. The estate is occupied by a variety of  leading brands including Network Ten, Nova 96.9 and APN Outdoor.</p>
                    <h3>Highlights</h3>
                    <ul>
                        <li>High quality office space</li>
                        <li>Ample on and off-site amenities</li>
                        <li>Centrally located in the Pyrmont cafe and restaurant precinct</li>
                        <li>Easy access to Sydney CBD, Sydney Airport and City West Link</li>
                    </ul>
                </div>
                <div class="property_detail_content_body_container property_detail_for_lease_content_body_container">
                    <p>Join Network Ten, Nova 96.9, 2GB and APN Outdoor at Pyrmont's premier commercial address.</p>
                    <h3>Highlights</h3>
                    <ul>
                        <li>High quality office space</li>
                        <li>Ample on and off-site amenities</li>
                        <li>Centrally located in the Pyrmont cafe and restaurant precinct</li>
                        <li>Easy access to Sydney CBD, Sydney Airport and City West Link</li>
                        <li>Ample on and off-site amenities</li>
                        <li>Centrally located in the Pyrmont cafe and restaurant precinct</li>
                        <li>Easy access to Sydney CBD, Sydney Airport and City West Link</li>
                    </ul>
                    <div class="property_detail_for_lease_space_list">
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                        <div class="property_detail_for_lease_space_item_container"><div class="property_detail_for_lease_space_field_name">Building B - Suite G.02</div><div class="property_detail_for_lease_space_field_area">225 sqm</div><div class="property_detail_for_lease_space_field_type">Office</div><div class="property_detail_for_lease_space_field_available">Available May 2018</div></div>
                    </div>
                </div>
                <div class="property_detail_content_footer_container">
                    <h3>Site feature</h3>
                    <div class="property_detail_feature_wrapper">
                        <div class="property_detail_feature_container property_detail_feature_container_cafe">Cafe</div>
                        <div class="property_detail_feature_container property_detail_feature_container_parking">Parking</div>
                        <div class="property_detail_feature_container property_detail_feature_container_childcare">Childcare</div>
                        <div class="property_detail_feature_container property_detail_feature_container_shower">Showers</div>
                        <div class="property_detail_feature_container property_detail_feature_container_social">Social area</div>
                    </div>
                </div>
            </div>
            <div class="property_detail_bottom_container">
                <a class="property_detail_bottom_link property_detail_back" href="list.html">Back to properties</a>
            </div>
        </div>
        <div class="property_map_container column column_l_6 column_xl_6 column_xxl_6">
            <div class="property_map_placeholder"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>